@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-dark: #09090b;
  --color-secondary-dark: #232b34;

  --color-primary: #e2e2e2;
  --color-secondary: #232b34;
}

/* @theme {
  --breakpoint-xs: "480px";
  --breakpoint-ss: "620px";
  --breakpoint-sm: "768px";
  --breakpoint-md: "1060px";
  --breakpoint-lg: "1200px";
  --breakpoint-xl: "1700px";
} */

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.green__gradient {
  background: linear-gradient(180deg, rgba(36, 150, 131, 0) 0%, #00ffcc 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
